/*****OBJECTS*****/
/*****ASIDE*****/

.wrapper{
    margin: 0 auto;
    max-width: 68.75em; // 1100px
}
.design-selection, .design-archives, .zen-resources{
    vertical-align: text-top;
    display: inline-block;
    margin-left: 6.25em; // 100px
}
